@import '../css/normalize.css';
@import "_parts/vars";

body {
  font-size: 18px;
  line-height: 1.2;
}

.f-wrap {
  flex-wrap: wrap;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.w-100 {
  width: 100%;
}

.error-text {
  padding: 0 20px;
  color: red;
}

.text-align-right {
  text-align: right;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.base-link {
  text-decoration: none;
  color: $base-blue;

  &:hover {
    color: $base-blue-hover;
    text-decoration: underline;
  }
}
