@import '../css/normalize.css';
@import "_parts/_helpers";

body {
  font-size: 18px;
  line-height: 1.2;
}

p, h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.w-100 {
  width: 100%;
}

.error-text {
  padding: 0 20px;
  color: red;
}

.f-wrap {
  flex-wrap: wrap;
}

.main-title {
  margin: 0 0 20px 0;
  font-size: 54px;
}

.main-subtitle {
  margin-bottom: 15px;
  font-size: 40px;
}

.modal-title {
  font-size: 24px;
  text-align: center;
}

[v-cloak] {
  display: none;
}

.text-align-right {
  text-align: right;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.base-link {
  text-decoration: none;
  color: $base-blue;

  &:hover {
    color: $base-blue-hover;
    text-decoration: underline;
  }
}

.base-text {
  color: $base-gray;
}
